[submodule "FMSynth/libfmsynth"]
	path = FMSynth/libfmsynth
	url = https://github.com/Themaister/libfmsynth
[submodule "nuklear/nuklear"]
	path = Nuklear/nuklear
	url = https://github.com/vurtun/nuklear
[submodule "TinySR/tinysr"]
	path = TinySR/tinysr
	url = https://github.com/petersn/tinysr
